.indextext {
	list-style: none;
	float: left;
	padding: 100px;
	position: relative;
	top: 40px;
	bottom: 0px;
	text-align: center;
	font: 200% Verdana;
	width: 90%;
	height: 20%;
}

.media {
	top: 2400px;
}

