.team {
	font-size: 21px;
	position: static; 
	top: 150px;
	left: 2%;
	min-height: 2020px;
	padding-bottom: 20px;
}

.team .paragraph {
	font-size: 20px;
	position: absolute;
	top: 150px;
	width: 98%;
	font: 70% Verdana;
	left: 1%;
	min-height: 500px;
}

.team .team_title {
	font-size: 15px;
	position: absolute;
	top: 500px;
	width: 250px;
	font: 120% Verdana;
	left: 43%;
	min-height: 500px;

}

.team .slogan {
	font-size: 10px;
	position: absolute;
	top: 1775px;
	font: 70% Verdana;
	left: 66%;
	min-height: 185px;
}

.team .fingerprint {
	position: relative;
	top: 1588px;
	left: 13%;
	width: 14%;
	height: 8%;
}

.team .x {
	position: relative;
	top: 1600px;
	left: 27%;
	width: 12%;
	height: 10%;
}

.team .kaia {
	position: relative;
	top: 1550px;
	left: 42%;
	max-width: 75%;
	max-height: 75%; 
	width: 20%;
	height: 5%;
}
	
.team .circle_1 img {
	position: relative;
	top:400px; 
	left: 15%;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 200px;
}

.team .circle_2 img {
	position: relative;
	top:80px; 
	left: 65%;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 200px;
}	

.team .circle_3 img {
	position: relative;
	top:280px; 
	left: 15%;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 200px;
}		

.team .circle_4 img {
	position: relative;
	top:-45px; 
	left: 65%;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 200px;
}

.team .list_1 {
	font-size: 20px;
	position: absolute;
	top: 990px;
	left: 14%;
	font: 70% Verdana;
	min-height: 500px;
}

.team .list_2 {
	font-size: 20px;
	position: absolute;
	top: 1000px;
	left: 63%;
	font: 70% Verdana;
	min-height: 500px;
}

.team .list_3 {
	font-size: 20px;
	position: absolute;
	top: 1525px;
	left: 10%;
	font: 70% Verdana;
	min-height: 500px;
}

.team .list_4 {
	font-size: 20px;
	position: absolute;
	top: 1525px;
	left: 61%;
	font: 70% Verdana;
	min-height: 500px;
}

.team .name_1 a {
  /*color: #DEC9FF;*/
  position: absolute;
  color: #030303;
  top: 950px;
  left: 11%;
  font-weight: bold;
  font: 70% Verdana;
  text-decoration: none;
}

.team .name_2 a {
  /*color: #DEC9FF;*/
  position: absolute;
  color: #030303;
  top: 953px;
  left: 62%;
  font-weight: bold;
  font: 70% Verdana;
  text-decoration: none;
}

.team .name_3 a {
  /*color: #DEC9FF;*/
  position: absolute;
  color: #030303;
  top: 1485px;
  left: 13%;
  font-weight: bold;
  font: 70% Verdana;
  text-decoration: none;
}

.team .name_4 a {
  /*color: #DEC9FF;*/
  position: absolute;
  color: #030303;
  top: 1485px;
  left: 63%;
  font-weight: bold;
  font: 70% Verdana;
  text-decoration: none;
}

